/*grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*//////////////////////// 1. Global Styles ////////////////////////////*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

main {
    max-width: 1000px;
    margin: auto;
}

section {
    padding-top: 50px;
}

a {
    color: #899CA0;
}

a:focus, a:hover {
    text-decoration: none;
}
/*//////////////////////// 2. Typography ////////////////////////////*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1C2B32;

}

h1 {
    font-size: 80px;
    font-weight: 900;
    text-align: center;

}

p {
    font-size: 14px;

}

h3 {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 50px;
    text-align: center;
}
/*//////////////////////// 3. Areas ////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: 60% 40%;

}

.header-section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 0 250px 0;
    text-align: center;

}

.header-section p {
    padding-bottom: 30px;
    text-align: center;

}

.header-section button {
    border-radius: 0 20px 20px 0;
    background-color: #1C2B32;
    color: #fff;
    padding: 15px 30px;
    border: solid 2px #1C2B32;

}

.header-section input {
    border-radius: 20px 0 0 20px;
    padding: 15px 40px 15px 15px;
    margin-right: -5px;
    background-color: transparent;
    border: solid 2px #1C2B32;
}

.header-section input::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #1C2B32;
}

/*///////////// 3.2 Testimonial /////////////*/

.testimonials li {
    padding: 50px 50px 50px 90px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    list-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    position: relative;
}

.testimonials li + li {
    margin-top: 50px;
}

.testimonials img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.author {
    padding-top: 20px;

}

.testimonials cite{
    padding-left: 10px;

}

.author img,
.author cite {
    display: inline-block;
    vertical-align: middle; /* meestal beter dan baseline */
}

.quote {
    position: absolute;
    top: 40px;
    left: 30px;
}

/*///////////// 3.3 Support /////////////*/
.support-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;

}

.support-section p {
    padding-top: 20px;
}

.support-section button {
    border-radius: 25px;
    background-color: #1C2B32;
    color: #fff;
    padding: 15px 30px;
    border: solid 2px #1C2B32;
    margin-top: 20px;
}


/*///////////// 3.4 Faq /////////////*/

.faq-section summary {
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
}

.faq-section p {
    background-color: #7D8F94;
    color: #fff;
    border-radius: 20px;
    padding: 30px;
    font-size: 15px;
}

/*///////////// 3.5 Footer /////////////*/
footer {
    background-color: #1C2B32;
    color: #fff;
    padding: 25px;
    margin-top: 50px;
}

footer p {
        font-size: 10px;
        text-align: center;
}