/*grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*//////////////////////// 1. Global Styles ////////////////////////////*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


/*//////////////////////// 2. Typography ////////////////////////////*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1C2B32;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-weight: 900;

}

p {
    font-size: 15px;
}
/*//////////////////////// 3. Areas ////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: 60% 40%;

}

.header-section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 0 250px 0;

}

.header-section p {
    padding-bottom: 30px;

}

.header-section button {
    border-radius: 0 20px 20px 0;
    background-color: #1C2B32;
    color: #fff;
    padding: 15px 30px;
    border: solid 2px #1C2B32;

}

.header-section input {
    border-radius: 20px 0 0 20px;
    padding: 15px 40px 15px 15px;
    margin-right: -5px;
    background-color: transparent;
    border: solid 2px #1C2B32;
}

.header-section input::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #1C2B32;
}

/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/